<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Client Side</title>

    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">Blockchain Client</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Account Generator</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/upload/data" class="nav-link">Upload Data</a>
                    </li>
                    <li class="nav-item">
                        <a href="/authenticate/data" class="nav-link">Authenticate Data</a>
                    </li>
                    <li class="nav-item">
                        <a href="/view/data" class="nav-link">View Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card-body">
                    <h4 class="card-title">Upload Data:</h4>
                    <p class="card-text">Fill in all details to upload data to blockchain</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container alert alert-secondary">
        <form action="/upload-data" method="POST" enctype="multipart/form-data">
            <div class="row">
                <label class="col-sm-2">Sender Public Key:</label>
                <div class="col-sm-10">
                    <input type="text" name="sender_public_key" id="sender_public_key" class="form-control">
                </div>
            </div>

            <br>

            <div class="row">
                <label class="col-sm-2">Sender Private Key:</label>
                <div class="col-sm-10">
                    <input type="text" name="sender_private_key" id="sender_private_key" class="form-control">
                </div>
            </div>

            <br>
            
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name='image' id='image'>
                    <label for="image" class="custom-file-label">Select image...</label>
                </div>
            </div>  
            
            <button type='submit' class='btn btn-primary btn-lg'>Upload data</button>
        </form>

    </div>

</body>

</html>